# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*

# Build outputs
dist/
build/
.vite/
.vercel/
.out/

# Typescript build info
*.tsbuildinfo

# Cache
.cache/
.tmp/
.temp/
.eslintcache

# Environment files (exclude ONLY .env.example)
.env
.env.*
!.env.example

# OS files
.DS_Store
Thumbs.db

# Editor/IDE
.vscode/
.idea/
*.swp
*.swo
pnpm-lock.yaml
